@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500|Roboto+Slab|Roboto:300i,400');

.wrapper {
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    max-width: 50em;
}

.bio {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, a{
    font-family: 'Roboto', sans-serif;
}

p {
	line-height:1.2;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    font-size: 1.1em;
}

code {
    font-family: 'Roboto Mono', monospace;
    background: lightgray;
}

#bio-text {
    width: 50%;
    min-width: 250px;
}

#avatar-box {
    float: right;
    display: flex;
    width: 50%;
    min-width: 250px;
}

#avatar {
    border-radius: 100%;
}