@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500&family=Lato:wght@400;700&display=swap');

html {
    /* fix page repositioning due to scrollbar */
    margin-left: calc(100vw - 100%);
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: #fdf6e3;
    margin: 0;
    margin-bottom: 8px;
}


.wrapper {
    margin: 0 auto;
    max-width: 50em;
}

main {
    margin: 0 auto;
    width: 50%;
}

/* nav bar styling */
nav {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    padding: 1vh 0;
    margin-bottom: 2vh;
    border-bottom: solid 3px #93a1a1;
}

.nav-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
}


.nav-button {
    margin-right: 1em;
}

.home-button {
    color: #268bd2;
    align-content: right;
    flex-grow: 2;
    text-align: right;
    padding: 0 5%;
}

/* text styling */
h1,
h2,
h3,
h4 {
    padding: 0 5%;
    font-family: 'Lato', sans-serif;
}

a {
    color: #268bd2;
    text-decoration: none;
}

/* nav bar links get special treatment */
nav a {
    font-family: 'Lato', sans-serif;
    color: #93a1a1;
    text-decoration: none;
}

nav a.current {
    color: #268bd2;
    text-decoration: underline;
}


/* paragraphs should have nice spaces in between */
p,
ul,
ol {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.2;
    margin: 1em 0;
    font-size: 1.4em;
    list-style-position: inside;
}


code {
    font-family: monospace;
    background: lightgray;
}

.caption {
    font-style: italic;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 100%
}

/* div stuff */
.bio {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div#bio p {
    padding: 0;
}

#bio-text {
    flex-grow: 2;
    width: 50%;
    min-width: 250px;
    font-size: 1.4em;
}

#avatar-box {
    flex-grow: 2;
    width: 50%;
    min-width: 30%;
    display: flex;
    justify-content: center;
    float: right;
}

#avatar {
    padding: 1vw;
    border-radius: 100%;
    width: 50%;
    float: right;

}

.normal-inset {
    background-color: #fdf6e3;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}

.contact {
    display: flex;
    font-size: 1.4em;
    margin: 0 5%;
}

div.contact img {
    max-height: 1em;
    margin: 0 .5em;
    max-width: 2em;
}

/* for the Research page */
.sect-heading {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    border-bottom: solid #93a1a1 3px;
    margin: 3em 0 0;
    flex-wrap: wrap;
}

div.sect-heading h3 {
    margin: 0;
    padding-bottom: 0.5em;
}

blockquote {}

/* for the blog */
a.blog-link {
    color: black;
}

div.blog-entry {
    margin: 0 5% 2em;
    padding-left: 5%;
    border-left: solid #93a1a1 2px;
}

div.blog-entry:hover {
    border-left: solid #268bd2 5px;
}

div.blog-entry h2 {
    padding: 0;
    margin: 1em 0 0;
    font-family: 'Cormorant Garamond', serif;
}

time {
    padding-left: 5%;
}

div.blog-entry time {
    padding: 0;
    margin: 0 0 5em;
}

div.blog-entry hr {
    display: none;
}

/* article styling */
div.blog-entry p {
    padding: 0;
    font-size: 1.2em;
}

h2.blog-title {
    margin-bottom: 0;
}