<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ article.title }} — Will Owens</title>
    <link href="/style.css" rel="stylesheet">
    {% if article.description %}
    <meta name="description" content="{{article.description}}" />
    {% endif %}
    {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
    {% endfor %}
</head>
{% endblock %}

<body>
    <div class="wrapper">
        <nav>
            <div class="nav-inner">
                <div class="nav-button">
                    <a href="/">About</a>
                </div>
                <div class="nav-button">
                    <a href="/projects">Projects</a>
                </div>
                <div class="nav-button">
                    <a href="/life">Life</a>
                </div>
                <div class="nav-button">
                    <a href="/etc/" class="current">Et cetera</a>
                </div>
            </div>
            <div class="home-button">
                <a href="/" style="color: inherit;">Will Owens</a>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <div class="blog-heading">
            <h1>{{ article.title }}</h1>
            <div class="blog-entry-metadata">
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
            {% for tag in article.tags %}
            <a class="blog-tag", href="tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
            </div>
        </div>
        <div class="content">
            {{ article.content }}
        </div>
    </div>
</body>

</html>