<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Other Stuff — Will Owens</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="nav-inner">
                <div class="nav-button">
                    <a href="/">About</a>
                </div>
                <div class="nav-button">
                    <a href="/projects">Projects</a>
                </div>
                <div class="nav-button">
                    <a href="/life">Life</a>
                </div>
                <div class="nav-button">
                    <a href="/etc/" class="current">Et cetera</a>
                </div>
            </div>
            <div class="home-button">
                <a href="/" style="color: inherit;">Will Owens</a>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <h1>Et cetera
        </h1>
        {% if tag == "essay" %}
        <h2>
            <span style="font-family: 'EB Garamond', serif; font-weight: 400; font-style: italic">(An archive of my 
                <a href="/etc/tag/essay" class="current">essays</a>,
                <a href="/etc/tag/story" class="not-current">stories</a>, and 
                <a href="/etc/tags" class="not-current">other writing</a>.)
            </span>
        </h2>
        {% elif tag == "story" %}
        <h2>
            <span style="font-family: 'EB Garamond', serif; font-weight: 400; font-style: italic">(An archive of my 
                <a href="/etc/tag/essay" class="not-current">essays</a>,
                <a href="/etc/tag/story" class="current">stories</a>, and 
                <a href="/etc/tags" class="not-current">other writing</a>.)
            </span>
        </h2>
        {% else %}
        <h2>
            <span style="font-family: 'EB Garamond', serif; font-weight: 400; font-style: italic">(An archive of my 
                <a href="/etc/tag/essay" class="not-current">essays</a>,
                <a href="/etc/tag/story" class="not-current">stories</a>, and 
                <a href="/etc/tags" class="not-current">other writing</a>.)
            </span>
        </h2>
        {% endif %}
        <h3>Most recent posts tagged with <span class="tag-highlight">'{{tag}}'</span>:</h3>
        {% for article in articles_page.object_list %}
        <a href="/etc/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"
            class="blog-link">
            <div class="blog-entry">
                <h2>{{ article.title }}</h2>
                <div class="blog-entry-metadata">
                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
                {% for tag in article.tags %}
                <span class="blog-tag", href="tag/{{ tag }}">{{ tag }}</span>
                {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>