<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Other Stuff — Will Owens</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="nav-inner">
                <div class="nav-button">
                    <a href="/">About</a>
                </div>
                <div class="nav-button">
                    <a href="/projects">Projects</a>
                </div>
                <div class="nav-button">
                    <a href="/life">Life</a>
                </div>
                <div class="nav-button">
                    <a href="/etc/" class="current">Et cetera</a>
                </div>
            </div>
            <div class="home-button">
                <a href="/" style="color: inherit;">Will Owens</a>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <h1>Et cetera
        </h1>
        <h2>
            <span style="font-family: 'EB Garamond', serif; font-weight: 400; font-style: italic">(An archive of my 
                <a href="/etc/tag/essay" class="not-current">essays</a>,
                <a href="/etc/tag/story" class="not-current">stories</a>, and 
                <a href="/etc/tags" class="current">other writing</a>.)
            </span>
        </h2>
        <h3> Browsing 42 posts across {{ tags|length }} tags:</span></h3>
        {% for tag, articles in tags %}
        <a href="/etc/tag/{{ tag }}" rel="bookmark" title="Permalink to {{ tag }}">
            <div class="tag-entry">
                <h3><span class="tag-highlight">{{ tag }}</span> <span>({{ articles|length }})</span></h3>
            </div> 
        </a>
        {% endfor %}
    </div>
</body>

</html>