@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500&family=Lato:wght@400;700&display=swap');

html {
    /* fix page repositioning due to scrollbar */
    margin-left: calc(100vw - 100%);
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: #fdf6e3;
    margin: 0;
    margin-bottom: 8px;
}


.wrapper {
    margin: 0 auto;
    max-width: 50em;
}

main {
    margin: 0 auto;
    width: 50%;
}

/* nav bar styling */
nav {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    padding: 1vw 0;
    margin-bottom: 2vw;
    border-bottom: solid 3px #93a1a1;
}

.nav-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
}


.nav-button {
    margin-right: 1em;
}

.home-button {
    color: #268bd2;
    align-content: right;
    flex-grow: 2;
    text-align: right;
    padding: 0 5%;
}

/* text styling */
h1,
h2,
h3,
h4 {
    padding: 0 5%;
    font-family: 'Lato', sans-serif;
}

a {
    color: #268bd2;
    text-decoration: none;
}

/* nav bar links get special treatment */
nav a {
    font-family: 'Lato', sans-serif;
    color: #93a1a1;
    text-decoration: none;
}

nav a.current {
    color: #268bd2;
    text-decoration: underline;
}


/* paragraphs should have nice spaces in between */
p,
ul,
ol {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.2;
    margin: 1em 0;
    font-size: 1.4em;
    list-style-position: inside;
}


code {
    font-family: monospace;
    color: #2aa198;
}

.caption {
    font-style: italic;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 100%
}

/* div stuff */
.bio {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div#bio p {
    padding: 0;
}

#bio-text {
    flex-grow: 2;
    width: 50%;
    min-width: 250px;
    font-size: 1.4em;
}

#avatar-box {
    flex-grow: 2;
    width: 50%;
    min-width: 30%;
    display: flex;
    justify-content: center;
    float: right;
}

#avatar {
    padding: 1vw;
    border-radius: 100%;
    width: 50%;
    float: right;

}

.normal-inset {
    background-color: #fdf6e3;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}

.contact {
    display: flex;
    font-size: 1.4em;
    margin: 0 5%;
}

div.contact img {
    max-height: 1em;
    margin: 0 .5em;
    max-width: 2em;
}

/* for the Research page */
.sect-heading {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    border-bottom: solid #93a1a1 3px;
    margin: 3em 0 0;
    flex-wrap: wrap;
}

div.sect-heading h3 {
    margin: 0;
    padding-bottom: 0.5em;
}

/* tables */
table {
    font-family: "Lato", "sans-serif";
    font-size: 1.2em;
    margin: 1em 5%;
    border-collapse: collapse;
}


table th,
table td {
    padding: 6px 13px;
    border: 1px solid black;
}

/* for the blog */
a.blog-link {
    color: black;
}

div.blog-entry {
    margin: 0 5% 2em;
    padding-left: 5%;
    border-left: solid #93a1a1 2px;
}

div.blog-entry:hover {
    border-left: solid #268bd2 5px;
}

div.blog-entry h2 {
    padding: 0;
    margin: 1em 0 0;
    font-family: 'Cormorant Garamond', serif;
}

time {
    padding-left: 5%;
}

div.blog-entry time {
    padding: 0;
    margin: 0 0 5em;
}

div.blog-entry hr {
    display: none;
}

div.blog-entry p {
    padding: 0;
    font-size: 1.2em;
}

/* article styling */
div.blog-heading,
h1 {
    margin: 0;
}

/* syntax highlighting */
div .highlight {
    padding-left: 5%;
    padding-right: 5%;
    margin: 1em 0;
    font-size: 1.4em;
}

/* simple footnotes */
ol.simple-footnotes li {
    margin: 0.5em 0;
    line-height: 1.2em;
}

sup {
    line-height: 0;
}

/*
generated by Pygments <https://pygments.org/>
Copyright 2006-2021 by the Pygments team.
Licensed under the BSD license, see LICENSE for details.
*/
pre {
    line-height: 125%;
}

td.linenos .normal {
    color: #93a1a1;
    background-color: #eee8d5;
    padding-left: 5px;
    padding-right: 5px;
}

span.linenos {
    color: #93a1a1;
    background-color: #eee8d5;
    padding-left: 5px;
    padding-right: 5px;
}

td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}

span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}

/*
body .hll {
    background-color: #eee8d5
}

body {
    background: #fdf6e3;
    color: #657b83
}

body .c {
    color: #93a1a1;
    font-style: italic
} */

/* Comment */
body .err {
    color: #657b83;
    background-color: #dc322f
}

/* Error */
body .esc {
    color: #657b83
}

/* Escape */
body .g {
    color: #657b83
}

/* Generic */
body .k {
    color: #859900
}

/* Keyword */
body .l {
    color: #657b83
}

/* Literal */
body .n {
    color: #657b83
}

/* Name */
body .o {
    color: #93a1a1
}

/* Operator */
body .x {
    color: #657b83
}

/* Other */
body .p {
    color: #657b83
}

/* Punctuation */
body .ch {
    color: #93a1a1;
    font-style: italic
}

/* Comment.Hashbang */
body .cm {
    color: #93a1a1;
    font-style: italic
}

/* Comment.Multiline */
body .cp {
    color: #d33682
}

/* Comment.Preproc */
body .cpf {
    color: #93a1a1
}

/* Comment.PreprocFile */
body .c1 {
    color: #93a1a1;
    font-style: italic
}

/* Comment.Single */
body .cs {
    color: #93a1a1;
    font-style: italic
}

/* Comment.Special */
body .gd {
    color: #dc322f
}

/* Generic.Deleted */
body .ge {
    color: #657b83;
    font-style: italic
}

/* Generic.Emph */
body .gr {
    color: #dc322f
}

/* Generic.Error */
body .gh {
    color: #657b83;
    font-weight: bold
}

/* Generic.Heading */
body .gi {
    color: #859900
}

/* Generic.Inserted */
body .go {
    color: #657b83
}

/* Generic.Output */
body .gp {
    color: #268bd2;
    font-weight: bold
}

/* Generic.Prompt */
body .gs {
    color: #657b83;
    font-weight: bold
}

/* Generic.Strong */
body .gu {
    color: #657b83;
    text-decoration: underline
}

/* Generic.Subheading */
body .gt {
    color: #268bd2
}

/* Generic.Traceback */
body .kc {
    color: #2aa198
}

/* Keyword.Constant */
body .kd {
    color: #2aa198
}

/* Keyword.Declaration */
body .kn {
    color: #cb4b16
}

/* Keyword.Namespace */
body .kp {
    color: #859900
}

/* Keyword.Pseudo */
body .kr {
    color: #859900
}

/* Keyword.Reserved */
body .kt {
    color: #b58900
}

/* Keyword.Type */
body .ld {
    color: #657b83
}

/* Literal.Date */
body .m {
    color: #2aa198
}

/* Literal.Number */
body .s {
    color: #2aa198
}

/* Literal.String */
body .na {
    color: #657b83
}

/* Name.Attribute */
body .nb {
    color: #268bd2
}

/* Name.Builtin */
body .nc {
    color: #268bd2
}

/* Name.Class */
body .no {
    color: #268bd2
}

/* Name.Constant */
body .nd {
    color: #268bd2
}

/* Name.Decorator */
body .ni {
    color: #268bd2
}

/* Name.Entity */
body .ne {
    color: #268bd2
}

/* Name.Exception */
body .nf {
    color: #268bd2
}

/* Name.Function */
body .nl {
    color: #268bd2
}

/* Name.Label */
body .nn {
    color: #268bd2
}

/* Name.Namespace */
body .nx {
    color: #657b83
}

/* Name.Other */
body .py {
    color: #657b83
}

/* Name.Property */
body .nt {
    color: #268bd2
}

/* Name.Tag */
body .nv {
    color: #268bd2
}

/* Name.Variable */
body .ow {
    color: #859900
}

/* Operator.Word */
body .w {
    color: #657b83
}

/* Text.Whitespace */
body .mb {
    color: #2aa198
}

/* Literal.Number.Bin */
body .mf {
    color: #2aa198
}

/* Literal.Number.Float */
body .mh {
    color: #2aa198
}

/* Literal.Number.Hex */
body .mi {
    color: #2aa198
}

/* Literal.Number.Integer */
body .mo {
    color: #2aa198
}

/* Literal.Number.Oct */
body .sa {
    color: #2aa198
}

/* Literal.String.Affix */
body .sb {
    color: #2aa198
}

/* Literal.String.Backtick */
body .sc {
    color: #2aa198
}

/* Literal.String.Char */
body .dl {
    color: #2aa198
}

/* Literal.String.Delimiter */
body .sd {
    color: #93a1a1
}

/* Literal.String.Doc */
body .s2 {
    color: #2aa198
}

/* Literal.String.Double */
body .se {
    color: #2aa198
}

/* Literal.String.Escape */
body .sh {
    color: #2aa198
}

/* Literal.String.Heredoc */
body .si {
    color: #2aa198
}

/* Literal.String.Interpol */
body .sx {
    color: #2aa198
}

/* Literal.String.Other */
body .sr {
    color: #cb4b16
}

/* Literal.String.Regex */
body .s1 {
    color: #2aa198
}

/* Literal.String.Single */
body .ss {
    color: #2aa198
}

/* Literal.String.Symbol */
body .bp {
    color: #268bd2
}

/* Name.Builtin.Pseudo */
body .fm {
    color: #268bd2
}

/* Name.Function.Magic */
body .vc {
    color: #268bd2
}

/* Name.Variable.Class */
body .vg {
    color: #268bd2
}

/* Name.Variable.Global */
body .vi {
    color: #268bd2
}

/* Name.Variable.Instance */
body .vm {
    color: #268bd2
}

/* Name.Variable.Magic */
body .il {
    color: #2aa198
}

/* Literal.Number.Integer.Long */